---
layout: project-index
title: Projects
description: "Some Projects"
comments: false
---

<div class="grid">
  <div class="sizer"></div>
  {% for project in site.projects %}
    {% assign filters = '' | split: ',' %}
    {% assign type = project.type | remove: '.' | remove: ' ' | downcase %}
    {% assign filters = filters | push: type %}
    {% for tag in project.tags %}
      {% assign scrubbed = tag | remove: '.' | remove: ' ' | downcase %}
      {% assign filters = filters | push: scrubbed %}
    {% endfor %}
    <div class="tile {{ filters | join: ' ' }}">
      <div class="image-wrapper">
        <img src="{{ site.url }}/images/{{ project.image }}"/>
      </div>
      <div class="caption-wrapper">
        <div class="caption">
          <p><em>{{ project.type }}</em></p>
          <h4>{{ project.title }}</h4>
          <a class="white md-button" href="{{ project.url }}">View</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>