
<!-- push related projects to local variable -->
{% assign related_projects = '' | split: ',' %}
{% for project in site.projects %}
  {% if project.title != page.title %}
    {% for tag in project.tags %}
      {% for current_tag in page.tags %}
        {% if current_tag == tag %}
          {% assign related_projects = related_projects | push: project %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign related_projects = related_projects | uniq %}

{% if page.is_post and site.related_posts.size > 0 %}
  <div class="card read-more">
    {% for post in site.related_posts limit:1 %}
      <div class="read-more-header">
        <a href="{{ site.url }}{{ page.previous.url }}" class="black md-button read-more-btn">Read More</a>
      </div><!-- /.read-more-header -->
      <div class="read-more-content">
        <h3><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 140 }}&hellip;{% endif %} <a href="{{ site.url }}{{ post.url }}">Continue reading</a></p>
      </div><!-- /.read-more-content -->
    {% endfor %}
    <div class="read-more-list">
      {% for post in site.related_posts limit:2 offset:1 %}
        <div class="list-item">
          <h4><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
          <span>Published on {{ post.date | date: "%B %d, %Y" }}</span>
        </div><!-- /.list-item -->
      {% endfor %}
    </div><!-- /.read-more-list -->
  </div><!-- /.read-more -->
{% elsif page.is_project and related_projects.size > 0 %}
  <div class="card read-more">
    {% for project in related_projects limit:1 %}
      <div class="read-more-header">
        <a href="{{ site.url }}{{ page.previous.url }}" class="black md-button">Read More</a>
      </div><!-- /.read-more-header -->
      <div class="read-more-content">
        <h3><a href="{{ site.url }}{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a></h3>
        <p>{% if project.description %}{{ project.description }}{% else %}{{ project.content | strip_html | strip_newlines | truncate: 140 }}&hellip;{% endif %} <a href="{{ site.url }}{{ project.url }}">View Project</a></p>
      </div><!-- /.read-more-content -->
    {% endfor %}
    <div class="read-more-list">
      {% for project in related_projects limit:2 offset:1 %}
        <div class="list-item">
          <h4><a href="{{ site.url }}{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a></h4>
          <span>Published on {{ project.date | date: "%B %d, %Y" }}</span>
        </div><!-- /.list-item -->
      {% endfor %}
    </div><!-- /.read-more-list -->
  </div><!-- /.read-more -->
{% else %}
{% endif %}
